<div  ng-controller="perfilCtrl"> 


</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

<div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Perfil</h1>
        </div>

    </div>
</div>
 <div class="control-group">
            <div class="controls">
<div style="position:absolute; top:200px;">

              <!-- user-creation.html: -->
              </br>
              </br>
              <div>
             <a ng-click=  "getDataespecific()" class="btn btn-small btn-primary">Ver mis datos<i class="fa fa-angle-right"></i></a>
              </div>
               
            </div>
              </div>
                </div>
                <ul>
    <h3>Nombre Usuario: {{data.nombreUsuario}}</h3>
  <hr>
    <h3>Correo Usuario:  {{data.correo}}</h3>
  <hr>
  <a class="btn btn-primary" href="#/editar">Editar Perfil</a>

</ul>