<div ng-app="angularSpa"> 

 <div style="position:absolute; top:50px;">


  


 <div style="position:absolute; top:150px;">
<h1>Registro</h1>
<div ng-controller="signupCtrl as up">
    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputNombre">Nombre:</label>
            <div class="controls">
                <input type="text" ng-model="newNombre"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputCorreo">Correo :</label>
            <div class="controls">
                <input type="text"ng-model="newCorreo"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputId">Numero Favorito:</label>
            <div class="controls">
                <input type="text"  ng-model="newId"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputContrasena">Contraseña:</label>
            <div class="controls">
                <input type="password"  ng-model="newContrasena"/>
            </div>
        </div>
        </br>
        </br>

        <div class="control-group">
            <div class="controls">
              <!-- user-detail.html: -->
              

              <!-- user-creation.html: -->
                <a ng-click=  "addPost()" class="btn btn-small btn-primary">Registrarme</a>
              
                <div ng-controller="signupCtrl">{{status}}</div>
            </div>
        </div>
    </form>
 </div>
</div>



